<!DOCTYPE html>
{% extends "bootstatmenu.jinja2" %}
{% block body %}

<div class="jumbotron">
  <h1>edit-entry.html</h1>
  <h1>More crappy html</h1>
  <h2><a href='/'>Back to Home</a></h2>
</div>

{% endblock %}
