<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <article>
            <h1><a href=/journal/{{id}}>{{ title }}</a></h1>
            <hr />
            <p>Created <strong>{{ date }}</strong></p>
            <hr />
            <p>{{ body }}</p>
        </article>
    <h2><a href='/journal/new-entry'>New Entry</a></h2>
    </body>
</html>
<!-- <h1>The list view points here! home.html</h1>
<h1>More crappy html</h1> -->

<!-- <h2><a href='/journal/1'>Day 1</a></h2> -->
